# Allowed Host && URLs
ALLOWED_HOSTS=

# Application Keys
SECRET_KEY=

# Application Settings
PORT=

# Databases Variables
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=

# SendGrid Variables
SENDGRID_API_KEY=
SENDGRID_HOST_USER=
